<% include partials/header %>



<div class="container">
<header class="jumbotron">
	<div class="container">
		<h1>This is the restaurants page</h1>
		<p>View the best restaurants in town now!</p>
		<p><a class="btn btn-primary btn-lg" href="/r/new"> Add new restaurants!</a></p>
	</div>	
</header>

<div class="row text-center"  style="display:flex; flex-wrap: wrap;">
		<% r.forEach(function(rs){ %>
			
			<div class="col-md-3 col-sm-6 ">
				<div class="thumbnail">
			<img src="<%= rs.image %>">
			<div class = "caption"><h4><%= rs.name %></h4> </div>
			</div>
			</div>	
		<% }); %>
	</div>

</div>

<% include partials/footer %>
